.App {
  display: flex;
  flex-direction: column;
}

.facets {
  display: flex;
}

.facet {
  display: flex;
  justify-content: flex-start;
}

.art-header {
  display: flex;
  min-height: 12vh;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman";
  letter-spacing: 5px;  
}

.facet-results {
  display: flex;
  flex-direction: row;
  margin-right: 1em;
}

.search-panel {
  min-width: 18vw;
  margin-left: 1em;
  margin-top: 1em;
  font-size: 1.25em;
}

.searchbox {
  margin: 2vh 0;
}

.ais-SearchBox-input {
  height: 2.5em;
}

.object-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font: #282c34; 

}


.title {
  margin: 0;
  font-size: 1.3em;
  padding: .5em 0;
}

.date {
  margin: 0;
  font-size: 1.1em;
  padding-bottom: .5em;
}

.artist {
  margin: 0;
}

.medium {
  margin: 0;
  color: grey;
}

